<% include header.ejs %>

<div class="block">
	<h1>Chat</h1>
	<div class="image">
		<img src="img/chat.png"/>
	</div>
	<div class="text">
		<br><br><br><br>
		Web chat for fun.
	</div>
</div>
<div class="block">
	<h1>Notes</h1>
	<div class="image">
		<br><br><br><br>
		Notes to keep text data online.
	</div>
	<div class="text">
		<img src="img/notes.png"/>
	</div>
</div>
<div class="block">
	<h1>Player</h1>
	<div class="image">
		<img src="img/player.png"/>
	</div>
	<div class="text">
		<br><br><br><br>
		Web player to upload local songs and hear wherever you want to.
	</div>
</div>
<div class="block">
	<h1>To Do</h1>
	<div class="image">
		<br><br><br><br>
		* [Notes] Make more windows to store texts;<br>
		* [Chat] Able users to create private rooms;<br>
		* [Player] Create playlists to organize the stored songs.
	</div>
	<div class="text">
		<img src="img/todo.png"/>
	</div>
</div>

<div class="block">
	<h1>Developer</h1>
	<div class="image">
		<img src="img/me.png"/>
	</div>
	<div class="text">
		<br><br><br><br>
		Name: Álvaro Prataviera Filho<br/>
		Birth: 29/03<br>
		Country: Brazil<br>
		Religion: Agnostic <br>
		Profession: Programmer at BI Solutions<br>
		Academic Degree: Bachelor's Degree in Computer Science<br>
		Music: Listenner and Drummer<br>

		Email: tubaleviao@gmail.com
	</div>
</div>
	<!--
	<blockquote style="display:inline-block;">
		<q>It's not about the money money money<br/>
		We don't need your money money money<br/>
		We just wanna make the world dance<br/>
		And forget about the price tag</q><br/>
		<cite>- Jessie J</cite>
	</blockquote> -->

<script src="/socket.io/socket.io.js"></script>

<% include footer.ejs %>