<% include header.ejs %><br/><br/><br/><br/>

		<div  class="p" id="p1">
			Enjoy
		</div>
		<div class="p">
			our
		</div>
		<div class="p">
			apps
		</div>
		<div class="p">
			,
		</div>
		<div  class="p" id="p5">
			we 
		</div>
		<div class="p">hope</div><div class="p">it</div><div class="p">can</div><div class="p">be</div><div class="p">useful.</div>

<script src="/socket.io/socket.io.js"></script>

<% include footer.ejs %>