<% include header.ejs %>

<h1>Eu estou vivo</h1>

<div>
  O que acontece se você morrer amanhã?<br> 
  Você sabe de alguma coisa que mais ninguém sabe?<br>
  Possuí coisas que apenas você sabe onde estão?<br><br>
  Esta ferramenta envia o que você quiser para quem você quiser após sua morte.<br><br> 
Como funciona:
</div>

<ul class="options">
  <li>Cadastre-se usando seu email, um apelido opcional e uma senha;</li>
  <li>Coloque o email do destinatário e as informações que deseja enviar;</li>
  <li>Proteja essas informações usando seu CPF, RG e sua data de nascimento;</li>
  <li>Configure o tempo de envio de e-mails e pronto!</li>
</ul>

<div>
  Nosso site enviará emails perguntando se realmente está vivo de acordo com a frequência que você mesmo configurar.
  Se depois de algum tempo, você deixar de responder estes emails, 
    consideraremos que você faleceu e enviaremos o email para o endereço configurado.<br><br>
  Lembre-se de que a pessoa que receberá este email após sua morte, 
    deve saber (ou ter como obter) seu CPF, RG e sua data de nascimento para poder desencriptografar essas informações.
  Nosso site não salva seu CPF, RG ou sua data de nascimento por questões de segurança.
</div>

<input type="button" value="Começar" class="start"/>

<% include footer.ejs %>