<% include header.ejs %>

<h1>
  Help me!
</h1>
<p>
  Users who help with more than 1$ will be marked as VIP users and will get benefits on future developments:
		<ul style="list-style-type:circle; text-align:left;">
			<li>More space on the player app to store your musics</li>
			<li>The power to create private securely encrypted chat rooms</li>
			<li>Check how much you earned in dollars investing in bitcoin</li>
		</ul>
	And much more. This will happen because the very first help are the most important and it will be remembered forever.<br><br>My bitcoin wallet:
</p>
<img src="img/wallet.PNG" style="width:119; height:115;" >
<p>
  <span>16h978UHYWu5Q6a7KgZshbmW7XBj13B9he</span>
</p>
<!--
<p>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="MUPE5YPU85M4G">
		<table>
		<tr><td><input type="hidden" name="on0" value="Plans">Plans</td></tr><tr><td><select name="os0">
			<option value="10GB">10GB : R$3,00 BRL - mensalmente</option>
			<option value="20GB">20GB : R$6,00 BRL - mensalmente</option>
			<option value="10GB">10GB : R$38,00 BRL - anualmente</option>
			<option value="20GB">20GB : R$72,00 BRL - anualmente</option>
		</select> </td></tr>
		</table>
		<input type="hidden" name="currency_code" value="BRL">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	</form>
</p>-->

<script src="/socket.io/socket.io.js"></script>

<% include footer.ejs %>