<html>
<head>
	<title>Shooting Guys</title>
	<link rel="stylesheet" href="css/shooter.css"/>
	<script src="js/jquery.js"></script>
	<script src="js/overlaps.js"></script>
	<script src="js/shooter.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="score"></div>
	<div>
		<img src="img/life.ico"/>
		<img src="img/life.ico"/>
		<img src="img/life.ico"/>
		<img src="img/life.ico"/>
		<img src="img/life.ico"/>
	</div>

	<div class="login">
		<p>Insert your nick</p>
		<input type="text" id="player" maxlength="14"/>
	</div>

	<div class="logout">
		<p>GAME OVER</p>
		<a href="/">Try again</a>
	</div>
	
</body>
</html>